<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.markmyattendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateTime"
            android:theme="@style/AppTheme.myback"
            android:label="Create Time">
        </activity>
        <activity
            android:name=".AddTime2"
            android:label="@string/title_activity_add_time2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddTime" />
        <activity
            android:name=".AddAttendance3"
            android:label="Add Subject" />
        <activity
            android:name=".AddHistory"
            android:label="Attendance History" />
        <activity
            android:name=".AddAttendance2"
            android:label="Mark Attendance" />
        <activity
            android:name=".AddAttendance"
            android:label="Mark Attendance" />
        <activity
            android:name=".RegisterClass"
            android:label="Student List" />
        <activity
            android:name=".Register"
            android:label="Student Name" />
        <activity
            android:name=".AddStudent"
            android:label="Add Student"
            android:theme="@style/AppTheme.myback" />
        <activity
            android:name=".CreateClass"
            android:label="Create Class"
            android:theme="@style/AppTheme.myback" />
        <activity
            android:name=".AddClass"
            android:label="Add Class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>